.login-logo{
    color: #fff;
    margin-top: 7em;
}

.signin-email{
    margin-right: 75px;
    color: #fff;
}

.pwd-for{
    margin-right: 45px;
}

.email-signin{
    height: 125%;
    width: 60%;
}